:root {
    --cyan:rgb(58, 247, 247);
    --navy:rgb(0, 0, 248);
    --red:red;
    --lilac:rgb(60, 119, 247);
    --blue:rgb(0, 81, 255);

}



body {
    background: var(--navy) linear-gradient(to bottom, var(--cyan), var(--navy));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
nav {
    text-align: center;
    background-color:var(--blue) ;
}
nav p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav p a {
    color: white;
    text-decoration: none;
   padding: 8px;
}
nav p a:hover {
    color: var(--red);
}
.SiteName {
    color: var(--navy);
}
section {
    padding: 2.5em 0.5em;
    margin-top: 2em;
    background-color: white;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section p {
    max-width: 900px;
    align-items: center;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
}

strike {
    color: var(--red);
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
q {
    font-weight: lighter;
    font-style: italic;
}
.author {
    font-weight: bold;
    font-style: italic;
}
li {
    padding: 5px;
}
.pretable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.pretable td {
    border: solid 1px black;
}
.pretable thead {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}
.btn {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
}
.btn:active {
    text-decoration: underline red;
    border: solid 2px red;
}
.btn-calm {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-hover {
    text-decoration: none;
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-clicked {
    text-decoration: underline var(--red);
    background-color: var(--lilac);
    border: solid var(--red) 2px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.GalleryItem img {
    max-width: 300px;
}
.GalleryItem img:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer section {
    background-color: var(--cyan);
    color: var(--navy);
}



@media  screen  and (min-width:660px){
    nav {
        position: sticky;
        top: 0;
    }
    nav p{
        flex-direction: row;
    }
}:root {
    --cyan:rgb(58, 247, 247);
    --navy:rgb(0, 0, 248);
    --red:red;
    --lilac:rgb(60, 119, 247);
    --blue:rgb(0, 81, 255);

}



body {
    background: var(--navy) linear-gradient(to bottom, var(--cyan), var(--navy));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
nav {
    text-align: center;
    background-color:var(--blue) ;
}
nav p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav p a {
    color: white;
    text-decoration: none;
   padding: 8px;
}
nav p a:hover {
    color: var(--red);
}
.SiteName {
    color: var(--navy);
}
section {
    padding: 2.5em 0.5em;
    margin-top: 2em;
    background-color: white;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section p {
    max-width: 900px;
    align-items: center;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
}

strike {
    color: var(--red);
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
q {
    font-weight: lighter;
    font-style: italic;
}
.author {
    font-weight: bold;
    font-style: italic;
}
li {
    padding: 5px;
}
.pretable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.pretable td {
    border: solid 1px black;
}
.pretable thead {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}
.btn {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
}
.btn:active {
    text-decoration: underline red;
    border: solid 2px red;
}
.btn-calm {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-hover {
    text-decoration: none;
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-clicked {
    text-decoration: underline var(--red);
    background-color: var(--lilac);
    border: solid var(--red) 2px;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.GalleryItem img {
    max-width: 300px;
}
.GalleryItem img:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer section {
    background-color: var(--cyan);
    color: var(--navy);
}



@media  screen  and (min-width:660px){
    nav {
        position: sticky;
        top: 0;
    }
    nav p{
        flex-direction: row;
    }
}
