:root {
    --background_dark:rgb(0, 0, 248);
    --background_light:rgb(58, 247, 247);
    --navbar:rgb(0, 81, 255);
    --hover:rgb(253, 122, 122);
    --importat_text:rgb(0, 0, 248);
    --light_text:white;
    --section_background:white;

}



body {
    background: var(--background_dark) linear-gradient(to bottom, var(--background_light), var(--background_dark));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
    margin: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
nav {
    text-align: center;
    background-color:var(--navbar) ;
}
nav p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav p a {
    color: var(--light_text);
    text-decoration: none;
   padding: 8px;
   border: 1px solid black;
}
nav p a:hover {
    color: var(--hover);
}
.SiteName {
    color: var(--importat_text);
}
.presec {
    padding: 2.5em 0.5em;
    margin-top: 2em;
    background-color: var(--section_background);
    
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.presec p {
    max-width: 900px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
}

.presec strike {
    color: var(--red);
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
q {
    font-weight: lighter;
    font-style: italic;
}
.author {
    font-weight: bold;
    font-style: italic;
}
.presec li {
    padding: 5px;
}
.pretable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.pretable td {
    border: solid 1px black;
}
.pretable thead {
    background-color: var(--blue);
    color: var(--light_text);
    font-weight: bold;
}
.btn {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: var(--light_text);
    padding: 10px 15px;
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
}
.btn:active {
    text-decoration: underline var(--hover);
    border: solid 2px var(--hover);
}
.btn-calm {
    text-decoration: none;
    border: solid var(--blue) 2px;
    background-color:var(--blue) ;
    font-size: 18px;
    color: var(--light_text);
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-hover {
    text-decoration: none;
    background-color: var(--lilac);
    border: solid var(--blue) 2px;
    font-size: 18px;
    color: var(--light_text);
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-clicked {
    text-decoration: underline var(--red);
    background-color: var(--lilac);
    border: solid var(--red) 2px;
    font-size: 18px;
    color: var(--light_text);
    padding: 10px 15px;
    border-radius: 5px;
}
.GalleryItem img {
    max-width: 300px;
}
.GalleryItem img:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer section {
    background-color: var(--background_light);
    color: var(--importat_text);
}



@media  screen  and (min-width:660px){
    nav {
        position: sticky;
        top: 0;
    }
    nav p{
        flex-direction: row;
    }
    nav p a {
        border: none;
    }
}
